@tailwind base;
@tailwind components;
@tailwind utilities;

/* Language: css */

#slider {
  max-height: 38rem;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
  background-color: rgb(208, 208, 208);
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  background-color: #663f13;
  border-radius: 100px;
}

.scrollbar-hide::-webkit-scrollbar-thumb:hover {
  background-color: #663f13;
}
