.button {
  background-color: #000000; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

  margin: 0;
  position: absolute;
  top: 70%;
  left: 54%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}



.button2 {  background-color: #000000; 
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;}