.slider_area .single_slider {
    height: 960px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  @media (max-width: 767px) {
    /* line 8, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
    .slider_area .single_slider {
      height: 420px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 8, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
    .slider_area .single_slider {
      height: 520px;
    }
  }
  
  /* line 20, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 {
    color: #234262;
    font-family: "Abril Fatface", cursive;
    font-size: 75px;
    font-weight: 400;
    line-height: 1.16;
    margin-bottom: 62px;
  }
  
  @media (max-width: 767px) {
    /* line 27, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 br {
      display: none;
    }
  }
  
  /* line 32, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text h3 span {
    font-weight: 700;
  }
  
  @media (max-width: 767px) {
    /* line 20, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
      font-size: 33px;
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    /* line 20, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
      font-size: 35px;
    }
  }
  
  @media (min-width: 992px) and (max-width: 1200px) {
    /* line 20, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text h3 {
      font-size: 55px;
    }
  }
  
  /* line 45, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
  .slider_area .single_slider .slider_text > a {
    margin-right: 15px;
  }
  
  @media (max-width: 767px) {
    /* line 45, ../../Arafath/CL/january 2020/243.Education/HTML/scss/_slider.scss */
    .slider_area .single_slider .slider_text > a {
      margin-bottom: 15px;
    }
  }
  